<template>
    <div>
        <Tags></Tags>
        <ul class="promotions-listing">    
            <Promotion v-for="promotion in sortedProms" :promotion="promotion" :key="promotion.id"/>
        </ul>
    </div>

</template>

<script>

import Promotion from './Promotion.vue'
import Tags from './Tags.vue'
import store from '../store'

export default {
    
    name: 'PromoList',
    data: () => ({
        promotions: [],
        tagsList: []
    }),
    computed: {
        sortedProms: function () {
            return this.promotions.sort((a, b) => new Date(a.dateFrom) - new Date(b.dateFrom)).reverse()
        }
    },
    methods: {
        fetchPromotions() {
            fetch(`/rozwiazania-dla-biznesu.html?allRdb=1`, {
                method: 'GET'
            })
            // fetch(`feed.json`, {
            //     method: 'GET'
            // })
            .then(response => response.json())
            .then(x => this.promotions = x)
            .then(x => this.makeTagsList(x))
        },
        makeTagsList(feed) {
            const preTag = location.hash.split("#")[1];

            for (let i = 0; i < feed.length; i++) {
                let promoTags = feed[i].tags;
                if (this.tagsList.length == 0 ) { //puste - dodajemy wszystkie tagi
                    this.tagsList = this.tagsList.concat(promoTags)
                } else { // nie puste, juz sa tagi
                    for (let x = 0; x < promoTags.length; x++){
                        if ( this.tagsList.indexOf(promoTags[x]) == -1) { //dodaj jezeli jeszcze nie ma
                            this.tagsList.push(promoTags[x])
                        }
                    }
                }
            }

            for (let i = 0; i< this.tagsList.length; i++) {
                store.dispatch('addTag', this.tagsList[i]);
                if (preTag === this.tagsList[i]) {
                    store.dispatch('toggleStatus', {'name': preTag} )
                }
            }
        }
    },
    created: function () {
        this.fetchPromotions()
    },
    components: {
        Promotion,
        Tags
    }
}
</script>

<style scoped>
    .promotion {
        clear: both;
        margin-bottom: 2em;
        display: none;
        
    }
    .promotion-inner {
        position: relative;
    }
    .promotion.visible {
        display: block
    }
    .promo-tag-list {
        margin: 0 0 15px;
        font-size: 1.5rem;
    }

    @media (min-width:768px) {
        .promo-tag-list {
            font-size: 1.6rem;
            line-height: 1.6rem;
            margin: 0 0 20px;
        }
    }
</style>

