<template>
    <li class="promotion" :selectedTags="$store.getters.getSelected.length" v-bind:class="{'visible':isVisible}" :data-promo-id="promotion.id" >
        <div class="promotion-inner">
            <div class="promotion-photo">
                <a v-bind:href="promotion.url" target="_blank">
                    <img v-if="promotion.logo != null" alt="" v-bind:src="promotion.logo" class="img-logo">
                    <img v-else alt="" v-bind:src="promotion.picture" class="img-picture">
                </a><br>
                <span class="icon"><span></span></span>
            </div>
            <div class="characteristics">
                <h2 class="promotion-name">
                    <a v-bind:href="promotion.url" target="_blank">
                    {{promotion.title}}
                    </a>
                </h2>
                <div class="promotion-date">
                    Promocja trwa od <strong>{{promotion.dateFrom}}</strong> do <strong>{{promotion.dateTo}}</strong>
                </div>
                <div class="promotion-description">
                    {{promotion.descShort}}
                </div>
                <a class="promotion-button" v-bind:href="promotion.url" target="_blank">
                    Szczegóły promocji
                </a>
            </div>  
        </div>
    </li>
</template>

<script>
import store from '../store'

export default {
    props: ['promotion'],
    data: ()=> ({
        usedTags: []
    }),
    computed: {
        isVisible: function(){
            if (store.getters.getSelected.length>0) { //sa zaznaczamy tagi - filtrowanie
                let usedTagsCounter = 0

                for (let x = 0; x < this.promotion.tags.length; x++){
                    if ( store.getters.getSelected.indexOf(this.promotion.tags[x]) > -1 ) {
                        usedTagsCounter++
                    }
                }
                return usedTagsCounter > 0 ? true : false
            
            } else { //zaden tag nie zaznaczony - wyswietlamy wszystko
                return true
            }      
        }
    }

}
</script>
