<template>
    <div class="promo-tag-list">  
        <p>
            
            <span>Filtruj:</span> 
            <button v-for="tag in availableTags" :key="tag.name" v-bind:data-vl="tag.value" v-bind:data-tag-id="tag.name" class="tagButton" v-bind:class="{'selected' : tag.value}" @click="toggleTag(tag)">
                {{tag.name}}
            </button>    
        </p>
    </div>
</template>

<style scoped>
    .tagButton {
        line-height: 1em;
        padding: .6em .8em;
        margin: 0 5px 5px 0;
        border: none;  
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
    .tagButton:hover {
        box-shadow: inset 0px 0px 0px 1px #d6d6d6; 
    }
    .tagButton.selected {
        background-color: #222;
        color: #fff;
    }
    span {
        display: inline-block;
        font-weight: bold;
        color: #000;
        margin-right: 7px;
    }
</style>


<script>
import store from '../store'

export default {
    data:() => ({
        availableTags: []
    }),
    methods: {
        toggleTag: function(e) {
            store.dispatch('toggleStatus', e )
            this.$forceUpdate();
        }
    },
    created() {
        this.availableTags = store.getters.getTags
    }
}
</script>
