<template>
  <div id="rdb-app">
    <PromoList/>
  </div>
</template>

<script>
import PromoList from './components/PromoList.vue'

export default {
  name: 'promo-app',
  components: {
    PromoList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
